<ion-header [translucent]="true">
    <ion-toolbar>
  
      <ion-buttons slot="start">
        <ion-button (click)="dismissModal()">
            <ion-icon slot="icon-only" name="chevron-down-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
  
      <ion-title>{{ title }}</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding">
  <form #form="ngForm" (ngSubmit)="onSubmit( form )" (keydown)="keyDownFunction( $event, form )">

    <ion-list-header>
      <ion-title>User data</ion-title>
    </ion-list-header>

    <ion-item>
      <ion-label>Name:</ion-label>
      <ion-input type="text"
                 [placeholder]="user.Nombre"
                 name="name"
                 [(ngModel)]="user.Nombre"
                 required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Password:</ion-label>
      <ion-input type="password"
                 [placeholder]="user.Contrasena"
                 [readonly]="read"
                 name="password"
                 [(ngModel)]="user.Contrasena"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label>Address:</ion-label>
      <ion-input type="text"
                 [placeholder]="user.Direccion"
                 name="address"
                 [(ngModel)]="user.Direccion"
                 required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Birthday Date:</ion-label>
      <ion-input type="date"
                 [placeholder]="user.FechaNacimiento"
                 name="date"
                 [(ngModel)]="user.FechaNacimiento"
                 required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Phone:</ion-label>
      <ion-input type="text"
                 [placeholder]="user.Telefono"
                 name="phone"
                 [(ngModel)]="user.Telefono"
                 required></ion-input>
    </ion-item>

    <!-- Datos que solo modifica el admin -->

    <ng-container *ngIf="isAdmin">
      <ion-item *ngIf="source !== 'Menu' && source !== 'CreateNewUser'">
        <ion-label>Account is available: </ion-label>
        <ion-toggle name="availability" [(ngModel)]="isAvailable"></ion-toggle>
      </ion-item>
      
      <ion-item>
        <ion-label>Email:</ion-label>
        <ion-input type="email"
                   [placeholder]="user.Correo"
                   name="email"
                   [readonly]="read"
                   [(ngModel)]="user.Correo"
                   pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                   required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>DPI:</ion-label>
        <ion-input type="text"
                   [placeholder]="user.DPI"
                   name="text"
                   [(ngModel)]="user.DPI"
                   required></ion-input>
      </ion-item>

      <ng-container *ngIf="source !== 'CreateNewUser'">
        <ion-list-header *ngIf="userAccounts.length !== 0">
          <ion-title>User accounts</ion-title>
        </ion-list-header>
  
        <ion-grid>
          <ion-row *ngFor="let account of userAccounts">
              <ion-col size="12">
                  <ion-card (click)="addMoneyToAccount( account.idCuenta , account.MontoActual )">
                      <ion-card-header>
                          <ion-card-subtitle>Account no. {{ account.idCuenta }} - {{ account.TipoCuenta }}</ion-card-subtitle>
                          <ion-card-title>Current Balance: Q {{ account.MontoActual }}</ion-card-title>
                      </ion-card-header>
                  </ion-card>
              </ion-col>
          </ion-row>
        </ion-grid>
      </ng-container>
    </ng-container>

    <ion-button [disabled]="form.invalid" type="submit" expand="block">
      {{ buttonText }}
    </ion-button>
 </form>

 <ion-fab *ngIf="source !== 'CreateNewUser' && isAdmin" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="addNewAccount()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
