<app-header title="History"></app-header>

<ion-content class="ion-padding">
    <ion-grid>

        <ion-row *ngFor="let des of description">
            <ion-col size="12">
                <ion-card>
                    <ion-card-header>
                        <ion-card-subtitle> <b>Date:</b> {{des.FechaYHora}}.</ion-card-subtitle>
                        <ion-card-title color="primary">Type: {{ des.TipoTransaccion }}</ion-card-title>
                        <p> <b>Description:</b> {{des.Descripcion}}.</p>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row *ngFor="let trans of transfers">
            <ion-col size="12">
                <ion-card>
                    <ion-card-header>
                        <ion-card-subtitle> <b>Date:</b> {{trans.FechaYHora}}.</ion-card-subtitle>
                        <ion-card-title color="primary">Amount: Q{{ trans.Monto }}</ion-card-title>
                        <b>{{ trans.NombreAccion }}</b>
                        <p> <b>Origin:</b> {{trans.CuentaOrigen}}. <b>Destination:</b> {{trans.CuentaDestino}}.</p>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row *ngIf="description.length + transfers.length === 0">
            <ion-card>
                <ion-card-header>
                    <ion-card-title>No history available</ion-card-title>
                </ion-card-header>
            </ion-card>
        </ion-row>

    </ion-grid>
</ion-content>
