<app-header title="History"></app-header>

<ion-content class="ion-padding">
    <ion-list>
        <ng-container *ngIf= "flag">
            <ion-item *ngFor="let des of description">
                <ion-card>
                    <ion-card-header>
                        <ion-card-subtitle> <b>Date:</b> {{des.FechaYHora}}.</ion-card-subtitle>
                        <ion-card-title color="primary">Type: {{ des.TipoTransaccion }}</ion-card-title>
                        <p> <b>Description:</b> {{des.Descripcion}}.</p>
                    </ion-card-header>
                </ion-card>
            </ion-item>
        </ng-container>
        <ion-item *ngFor="let trans of transfers">
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle> <b>Date:</b> {{trans.FechaYHora}}.</ion-card-subtitle>
                    <ion-card-title color="primary">Amount: Q{{ trans.Monto }}</ion-card-title>
                    <b>{{ trans.NombreAccion }}</b>
                    <p> <b>Origin:</b> {{trans.CuentaOrigen}}. <b>Destination:</b> {{trans.CuentaDestino}}.</p>
                </ion-card-header>
            </ion-card>
        </ion-item>
        <ion-row *ngIf="description.length + transfers.length === 0">
            <ion-card>
                <ion-card-header>
                    <ion-card-title>No history available</ion-card-title>
                </ion-card-header>
            </ion-card>
        </ion-row>
    </ion-list>
</ion-content>
